@model EventListingViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Events"];
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row text-center mr-t-b-25">
    @if (User.IsInRole(WebConstants.LibrarianAuthorRole) || User.IsInRole(WebConstants.AdministratorRole))
    {
    <a class="btn-sm btn-success" asp-area="LibraryBlog" asp-controller="Events" asp-action="Create">@Localizer["Create"]</a>
    }
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-hover table-responsive ">
            <thead>
                <tr>
                    <th>@Localizer["Date"]</th>
                    <th>@Localizer["Title"]</th>
                    <th>@Localizer["Description"]</th>
                    <th>@Localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventLog in Model.Events)
                {
                    <tr>
                        <td>@eventLog.date</td>
                        <td>@eventLog.title</td>
                        <td>@eventLog.description</td>
                        <td>
                            <a class="btn-sm btn-warning" asp-area="LibraryBlog" asp-controller="Events" asp-action="Edit" asp-route-id="@eventLog.id">@Localizer["Edit"]</a>
                            <a class="btn-sm btn-danger" asp-area="LibraryBlog" asp-controller="Events" asp-action="Delete" asp-route-id="@eventLog.id">@Localizer["Delete"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
