@model EventListingViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Events"];

    var previousDisabled = Model.CurrentPage == 1 ? "disabled" : string.Empty;
    var nextDisabled = string.Empty;

    if (Model.TotalPages == 0 || Model.CurrentPage == Model.TotalPages)
    {
        nextDisabled = "disabled";
    }

    var pageSize = ServicesConstants.EventsPageSize;
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row text-center mr-t-b-25">
    @if (User.IsInRole(WebConstants.LibrarianAuthorRole) || User.IsInRole(WebConstants.AdministratorRole))
    {
        <a class="btn-sm btn-success" asp-area="LibraryBlog" asp-controller="Events" asp-action="Create">@Localizer["Create"]</a>
    }
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-hover table-responsive ">
            <thead>
                <tr>
                    <th>@Localizer["Date"]</th>
                    <th>@Localizer["Title"]</th>
                    <th>@Localizer["Description"]</th>
                    <th>@Localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventLog in Model.Events.Skip((Model.CurrentPage-1)* pageSize).Take(pageSize))
                {
                    <tr>
                        <td>@eventLog.date</td>
                        <td>@eventLog.title</td>
                        <td>@eventLog.description</td>
                        <td>
                            <a class="btn-sm btn-warning" asp-area="LibraryBlog" asp-controller="Events" asp-action="Edit" asp-route-id="@eventLog.id">@Localizer["Edit"]</a>
                            <a class="btn-sm btn-danger" asp-area="LibraryBlog" asp-controller="Events" asp-action="Delete" asp-route-id="@eventLog.id">@Localizer["Delete"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-center">
            <ul class="pagination">
                <li class="page-item @previousDisabled">
                    <a class="page-link @previousDisabled" asp-route-page="@Model.PreviousPage" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">@Localizer["Previous"]</span>
                    </a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty)"><a class="page-link" asp-route-page="@i">@i</a></li>
                }
                <li class="page-item @nextDisabled">
                    <a class="page-link @nextDisabled" asp-route-page="@Model.NextPage" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">@Localizer["Next"]</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
