@model SearchFormModel

<div id="lib-search-footer-box" class="first-color-b" style="">
    <form asp-area="LibraryBlog" asp-controller="Search" asp-action="Search" asp-route-model="SearchFormModel" method="get">
        <div class="form-group" style="margin-bottom: 8px;margin-left: 6px;">
            <p class="glyphicon glyphicon-search first-color" style="top: 28px;left: 5px;margin: 0"></p>
            <input asp-for="@Model.SearchText" class="form-control" style="padding-left: 25px;" placeholder="Въведете текст" />
        </div>
        <div class="form-group" style="display: inline-block;padding-left: 2px;padding-right: 58px;">
            <label asp-for="@Model.SearchInBooks" class="second-color" style="padding-left: 5px;"></label>
            <input asp-for="@Model.SearchInBooks" checked="checked" type="checkbox" />
        </div>
        <div class="form-group" style="display: inline-block">
            <label asp-for="@Model.SearchInArticles" class="second-color" style="padding-left: 5px;"></label>
            <input asp-for="@Model.SearchInArticles" checked="checked" type="checkbox" />
        </div>
        <div class="form-group" style="display: inline-block; padding-right: 32px;padding-left: 22px;">
            <label asp-for="@Model.SearchInGalleries" class="second-color" style="padding-left: 5px;"></label>
            <input asp-for="@Model.SearchInGalleries" checked="checked" type="checkbox" />
        </div><div class="form-group" style="display: inline-block">
            <label asp-for="@Model.SearchInSubscriptions" class="second-color" style="padding-left: 5px;"></label>
            <input asp-for="@Model.SearchInSubscriptions" checked="checked" type="checkbox" />
        </div>
        <div class="text-center">
            <button class="btn third-color-b second-color">Търси</button>
        </div>
       
    </form>
</div>