@model SearchViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Results"];

    var currentCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
}

<div class="row hidden-xs">
    <div class="mr-0-auto col-md-offset-6" style="width: 30px">
        <div id="lib-search" class="third-color-b dropdown">
            <a class="glyphicon glyphicon-search second-color dropdown-toggle cr-pointer" data-toggle="dropdown" aria-expanded="false" style="font-size: 25px;padding-top: 10px;padding-left: 16px;"></a>
            <span class="second-color" style="padding-left: 10px;">@Localizer["Search"]</span>
            <div class="first-color-b dropdown-menu drop" style="width: 475px; height: 120px; padding: 10px; border-radius: 20px;position: absolute;top: -96px;left: -200px;">
                @await Component.InvokeAsync("Search")
            </div>
        </div>
    </div>
</div>
<div id="search-head" class="row text-center">
    <h2>@ViewData["Title"] @Localizer["for"]:</h2>
</div>
<div class="row text-center mr-t-20" style="padding-left: 40px;">
    <h4>"@Model.SearchedText"</h4>
</div>
<div class="row text-center">
    <div class="col-md-12 " style="padding-left: 50px;">
        @{
            if (Model.SearchInBook != null)
            {
                <h3 class="text-center">@Localizer["New Books"]</h3>

                if (Model.SearchInBook.Any())
                {
                    <div class="row">
                        <ul class="lib-footer-ul">
                            @foreach (var book in Model.SearchInBook)
                            {
                                <li>
                                    <a asp-area="LibraryBlog" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">
                                        <p class="bold">@book.BookTitle.LimitStringLenght(60) - @book.AuthorName</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div>
                        <p>@Localizer["No new books were found"]. @Localizer["But we still might have the book"]. </p>
                        <a class="lib-btn-invrt" href="http://178.239.224.218/absw/abs.htm">@Localizer["Search in the E-catalogue"]</a>
                    </div>
                }
            }
            if (Model.SearchInArticle != null)
            {
                <h3 class="text-center">@Localizer["News"]</h3>
                if (Model.SearchInArticle.Any())
                {
                    <div class="row">
                        <ul class="lib-footer-ul">
                            @foreach (var article in Model.SearchInArticle)
                            {
                                <li>
                                    <a asp-area="LibraryBlog" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id"><span>@article.Title</span></a>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <p>@Localizer["No news were found"].</p>
                }
            }
            if (Model.SearchInGallery != null)
            {
                <h3 class="text-center">@Localizer["Galleries"]</h3>
                if (Model.SearchInGallery.Any())
                {
                    <div class="row">
                        <ul class="lib-footer-ul">
                            @foreach (var gallery in Model.SearchInGallery)
                            {
                                var count = gallery.Images.Count;
                                <li>
                                    <a asp-area="LibraryBlog" asp-controller="Galleries" asp-action="Details" asp-route-id="@gallery.Id">@gallery.Title - @Localizer["Pics count"]: @count</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <p>@Localizer["No galleries were found"].</p>
                }
            }
            if (Model.SearchInSubscription != null)
            {
                <h3 class="text-center">@Localizer["Subscriptions"]</h3>
                if (Model.SearchInSubscription.Any())
                {
                    <div class="row">
                        <ul class="lib-footer-ul">
                            @foreach (var subscription in Model.SearchInSubscription)
                            {
                                <li>
                                    <p>
                                        @subscription.Name - @Localizer["find in department"]
                                        "@{
                                            if (currentCulture == "bg-BG")
                                            {
                                                @subscription.Department.DepartmentsToBgLang()
                                            }
                                            else
                                            {
                                                @subscription.Department
                                            }
                                        }"
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <p>@Localizer["No subscriptions were found"].</p>
                }
            }
        }
    </div>
</div>
<div class="row text-center mr-t-b-25" style="padding-left: 40px;">
    <a class="lib-btn" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Back"]</a>
</div>