@model IEnumerable<LatestGalleriesServiceModel>
@{
    ViewData["Title"] = "Books";
}
<div class="row mr-8 text-center">
    <div id="lib-ask-box">
        <a  asp-controller="Home" asp-action="Ask">
            <p class="img-responsive lib-ask-p1">Попитай<span class="img-responsive lib-ask-p2">Библиотекаря</span></p>
            
        </a>
    </div> 
    <h4 id="lib-gallery-h4"><a asp-area="LibraryBlog" asp-controller="Galleries" asp-action="Galleries">Последни галерии</a></h4>
    <ul>
        @foreach (var gallery in Model)
        {
            <li class="text-center lib-gallery-img-box">
                <a asp-area="LibraryBlog" asp-controller="Galleries" asp-action="Details" asp-route-id="@gallery.Id">
                    <p class="word-wrap mr-0-auto lib-gallery-p-top">@gallery.Title</p>
                    <img style="" class="" src="@gallery.Images.First().ImagePath" alt="@gallery.Title">
                    <p class="text-center lib-gallery-p-bottom">Бр. снимки: @gallery.Images.Count</p>
                </a>
            </li>
        }
    </ul>
</div>
