@model IEnumerable<LatestGalleriesServiceModel>
@{
    ViewData["Title"] = "Books";
}
<div class="row mr-8 text-center">
    <div>
        <a asp-controller="Home" asp-action="Ask" style="text-decoration: none">
            <p class="lib-sidebar-p">Попитай Библиотекаря</p>
        </a>
    </div>
    <div>
        <a style="text-decoration: none">
            <p class="lib-sidebar-p1">Стани Доброволец</p>
        </a>
    </div>
    <div>
        <a style="text-decoration: none">
            <p class="lib-sidebar-p">Участвай в анкета</p>
        </a>
    </div>
    <div>
        <a style="text-decoration: none">
            <p class="lib-sidebar-p1">Направи Дарение</p>
        </a>
    </div>
    <div>
        <a asp-area="LibraryBlog" asp-controller="Galleries" asp-action="Galleries" style="text-decoration: none">
            <p class="lib-sidebar-p" style="font-size: 1.2em">Последни галерии</p>
        </a>
    </div>
    <ul>
        @foreach (var gallery in Model)
        {
            <li class="text-center lib-gallery-img-box">
                <a asp-area="LibraryBlog" asp-controller="Galleries" asp-action="Details" asp-route-id="@gallery.Id">
                    <p class="word-wrap mr-0-auto lib-gallery-p-top">@gallery.Title</p>
                    <img style="" class="" src="@gallery.Images.First().ImagePath" alt="@gallery.Title">
                    <p class="text-center lib-gallery-p-bottom">Бр. снимки: @gallery.Images.Count</p>
                </a>
            </li>
        }
    </ul>
</div>
