@model IEnumerable<LatestGalleriesServiceModel>
@{
    ViewData["Title"] = "Books";
}
<div class="row mr-8 text-center">
        <h4 class="mr-t-45"><a asp-area="LibraryBlog" asp-controller="Galleries" asp-action="Galleries">Последни галерии</a></h4>
        <ul  style="max-height: 280px; max-width: 200px; list-style: none">
            @foreach (var gallery in Model)
            {
                <li class="text-center">
                    <a asp-area="LibraryBlog" asp-controller="Galleries" asp-action="Details" asp-route-id="@gallery.Id">
                        <p class="word-wrap mr-0-auto">@gallery.Title</p>
                        <img style="max-height: 200px; max-width: 120px;" class="img-border" src="@gallery.Images.First().ImagePath" alt="@gallery.Title">
                        <p class="text-center">Бр. снимки: @gallery.Images.Count</p>
                    </a>
                </li>
            }
        </ul>
    </div>
