@model ArticleListingViewModel
@inject IViewLocalizer Localizer

@foreach (var article in Model.Articles)
{

    var count = article.Gallery.Images.Count;

    <div class="col-md-12">
        <div class="row text-center">
            <h3 class="bold mr-30-auto width-60pr">@article.Title</h3>
            @if (count != 0)
            {
                <a class="image-popup-vertical-fit" href="@article.Gallery.Images.First().ImagePath" Title="@article.Title">
                    <img src="@Url.Content(article.Gallery.Images.First().ImagePath)" class="img-border width-60pr box-shadow-type-two" alt="@article.Title" />
                </a>
            }
            <p class="mr-0-auto width-60pr text-right p-t-5">@article.ReleaseDate.ToShortDateString()</p>
        </div>
        <div class="row text-center">

            <div class="text-justify mr-30-auto width-60pr br-w">@Html.Raw(article.Description.TruncateHtml(200, "..."))</div>
            <div class="text-center mr-30-auto width-60pr">
                <a class="lib-btn" asp-area="LibraryBlog" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id"><span>@Localizer["Read more"]</span></a>
                @if (User.IsInRole(WebConstants.LibrarianAuthorRole) || User.IsInRole(WebConstants.AdministratorRole))
                {
                <a class="btn-sm btn-warning" asp-area="LibraryBlog" asp-controller="Articles" asp-action="Edit" asp-route-id="@article.Id">@Localizer["Edit"]</a>
                <a class="btn-sm btn-danger" asp-area="LibraryBlog" asp-controller="Articles" asp-action="Delete" asp-route-id="@article.Id">@Localizer["Delete"]</a>
                }
            </div>
        </div>
    </div>
    <hr class="lib-hr width-60pr " />
}