@model ArticleFormModel

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea id="summernote" asp-for="Description" class="form-control" ></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate"></label>
        <input asp-for="ReleaseDate" class="form-control" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row mr-l-0">
            <label asp-for="Type"></label>
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Type, DepartmentType.Kids))Детски
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Type, DepartmentType.Rent))Заемна
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Type, DepartmentType.Read))Читални
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Type, DepartmentType.Check))Справочен
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Type, DepartmentType.Art))Изкуство
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Type, DepartmentType.Land))Краезнание
        </div>      
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row mr-l-0">
            <label asp-for="Language"></label>
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(l=> l.Language, Language.Bg))Български
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(l=> l.Language, Language.En))Английски
        </div>
        <span asp-validation-for="Language" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Files" class="form-control" name="files" multiple />
    </div>
    <button type="submit" class="btn btn-info">Запази</button>
    <a class="lib-btn" asp-area="LibraryBlog" asp-action="Articles">Обратно</a>
</form>

