@model Library.Web.Areas.LibraryBlog.Models.Books.BookViewModel
@{
    ViewData["Title"] = Model.Book.BookTitle;
    ViewData["Description"] = $"Take the book \"{Model.Book.BookTitle}\" now! In Regional Library \"Mihalaki Georgiev\" - Vidin";
}
<div class="row text-center">
        <h2>@Model.Book.BookTitle</h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mr-l-10">
        <a class="image-popup-vertical-fit" href="@Url.Content(Model.Book.ImageUrl)" title="@Model.Book.BookTitle">
            <img src="@Url.Content(Model.Book.ImageUrl)" class="width-46pr img-border float-left mr-r-15 max-w-300 mr-l-10" alt="@Model.Book.BookTitle" />
        </a>
        <p class="author-text mr-t-10">Author: @Model.Book.AuthorName</p>
        <p class="mr-t-40">Find in "@Model.Book.Department" Department</p>
        <table class="table-condensed mr-t-40">
            <tbody>
            <tr class="br-t">
                <th class="first-color-b second-color">Publisher</th>
                <td>@Model.Book.Press</td>
            </tr>
            <tr class="br-t">
                <th class="first-color-b second-color">City</th>
                <td>
                    @if (Model.Book.CityIssued == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        @Model.Book.CityIssued
                    }
                </td>
            </tr>
            <tr class="br-t">
                <th class="first-color-b second-color">Pages</th>
                <td>
                    @if (Model.Book.Pages == 0)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        @Model.Book.Pages
                    }
                </td>
            </tr>
            <tr class="br-t">
                <th class="first-color-b second-color">Year</th>
                <td>@Model.Book.PublishDate г.</td>
            </tr>
            <tr class="br-t">
                <th class="first-color-b second-color">Size</th>
                <td>
                    @if (Model.Book.Size == 0)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        @Model.Book.Size
                    }
                </td>
            </tr>
            <tr class="br-t">
                <th class="first-color-b second-color">Genre</th>
                <td>@Model.Book.Genre</td>
            </tr>
            </tbody>
        </table>
    </div>  
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            @if (Model.Book.BookDescription.Length > 2)
            {
                <h4 class="bold text-center mr-t-b-25">Short description</h4>
                <div class="text-justify mr-30">@Html.Raw(Model.Book.BookDescription)</div>
            }
        </div>
    <div class="text-center mr-t-10">
        <div class="col-md-12 mr-t-b-25">
            @if (User.IsInRole(WebConstants.LibrarianAuthorRole) || User.IsInRole(WebConstants.AdministratorRole))
            {
                <a class="btn btn-sm btn-warning" asp-area="LibraryBlog" asp-controller="Books" asp-action="Edit">Edit</a>
                <a class="btn btn-sm btn-danger" asp-area="LibraryBlog" asp-controller="Books" asp-action="Delete">Delete</a>
            }
            <a class="lib-btn" href="javascript:history.go(-1)">Back</a>
        </div>
    </div>
</div>
