@model ArticleListingHomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="row text-center">
    <h1 class="text-center" id="carosel-h1"><a asp-area="En" asp-controller="Articles" asp-action="Articles">Latest News</a></h1>
    <div id="myCarousel" class="carousel slide carousel-custom-settings" data-ride="carousel" data-interval="6000">
        <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner" role="listbox" style="border-bottom-left-radius: 50px;border-bottom-right-radius: 50px">
            @{
                var count = 0;
                foreach (var article in Model.Articles)
                {
                    if (count == 0)
                    {
                        <div class="item active">
                            <a style="text-decoration: none; color: #fff" asp-area="En" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">

                                <img src="@article.Gallery.Images.First().ImagePath" alt="@article.Title" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p class="carosel-p">
                                        <span class="carosel-span-0">@article.Title</span>
                                        <span class="carosel-span" asp-area="En" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                                            Read more
                                        </span>
                                    </p>

                                </div>
                            </a>
                        </div>
                        count++;
                    }
                    else
                    {
                        <div class="item">
                            <a style="text-decoration: none; color: #fff" asp-area="En" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                                <img src="@article.Gallery.Images.First().ImagePath" alt="@article.Title" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p class="carosel-p">
                                        <span class="carosel-span-0">@article.Title</span>
                                        <span class="carosel-span" asp-area="En" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                                            Read more
                                        </span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        count++;
                    }
                }
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style=" border-bottom-left-radius: 50px;">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="border-bottom-right-radius: 50px;">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>


