@model BookFormModel
@inject IViewLocalizer Localizer
<form method="post">
    <div class="form-group">
        <label asp-for="AuthorName"></label>
        <input asp-for="AuthorName" class="form-control" />
        <span asp-validation-for="AuthorName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookTitle"></label>
        <input asp-for="BookTitle" class="form-control" />
        <span asp-validation-for="BookTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookDescription"></label>
        <textarea id="summernote" asp-for="BookDescription" class="form-control"></textarea>
        <span asp-validation-for="BookDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CityIssued"></label>
        <input asp-for="CityIssued" class="form-control" />
        <span asp-validation-for="CityIssued" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Press"></label>
        <input asp-for="Press" class="form-control" />
        <span asp-validation-for="Press" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row mr-l-0">
            <label asp-for="Department"></label>
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Kids))@Localizer["Children's"]
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Rent))@Localizer["Book borrowing"]
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Read))@Localizer["Reading rooms"]
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Check))@Localizer["Information center"]
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Art))@Localizer["Art"]
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Land))@Localizer["Homeland"]
        </div>
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PublishDate"></label>
        <input asp-for="PublishDate" class="form-control" />
        <span asp-validation-for="PublishDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pages"></label>
        <input asp-for="Pages" class="form-control" />
        <span asp-validation-for="Pages" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Size"></label>
        <input asp-for="Size" class="form-control" />
        <span asp-validation-for="Size" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre"></label>
        <input asp-for="Genre" class="form-control" />
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row mr-l-0">
            <label asp-for="Language"></label>
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(l => l.Language, Language.Bg))@Localizer["Bulgarian"]
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(l => l.Language, Language.En))@Localizer["English"]
        </div>
        <span asp-validation-for="Language" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" value="@null" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-info">@Localizer["Save"]</button>
    <a class="btn btn-default btn-sm" asp-area="LibraryBlog" asp-action="Books">@Localizer["Back"]</a>
</form>