@model BookViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Model.Book.BookTitle;
    ViewData["Description"] = Localizer["Take the book \""].Value + Model.Book.BookTitle + "\" " + Localizer["now! In Regional Library \"Mihalaki Georgiev\" - Vidin"].Value;
    var currentCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mr-l-10">
        <a class="image-popup-vertical-fit" href="@Url.Content(Model.Book.ImageUrl)" title="@Model.Book.BookTitle">
            <img src="@Url.Content(Model.Book.ImageUrl)" class="width-46pr img-border float-left mr-r-15 max-w-300 mr-l-10 box-shadow-type-two" alt="@Model.Book.BookTitle" />
        </a>

        <p class="author-text mr-t-10">@Localizer["Author"]: @Model.Book.AuthorName</p>
        <p class="mr-t-40">@Localizer["Find in department"]:
            "@{
                if (currentCulture == "bg-BG")
                {
                    @Model.Book.Department.DepartmentsToBgLang()
                }
                else
                {
                    @Model.Book.Department
                }
            }"
            </p>
        <table class="table-condensed mr-t-40">
            <tbody class="box-shadow-type-two">
                <tr class="br-t">
                    <th class="first-color-b second-color">@Localizer["Publisher"]</th>
                    <td>@Model.Book.Press</td>
                </tr>
                <tr class="br-t">
                    <th class="first-color-b second-color">@Localizer["City"]</th>
                    <td>
                        @if (Model.Book.CityIssued == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Model.Book.CityIssued
                        }
                    </td>
                </tr>
                <tr class="br-t">
                    <th class="first-color-b second-color">@Localizer["Pages"]</th>
                    <td>
                        @if (Model.Book.Pages == 0)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Model.Book.Pages
                        }
                    </td>
                </tr>
                <tr class="br-t">
                    <th class="first-color-b second-color">@Localizer["Year"]</th>
                    <td>@Model.Book.PublishDate г.</td>
                </tr>
                <tr class="br-t">
                    <th class="first-color-b second-color">@Localizer["Genre"]</th>
                    <td>@Model.Book.Genre</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @if (Model.Book.BookDescription.Length > 2)
        {

        <h4 class="bold text-center mr-t-b-25">@Localizer["Short description"]</h4>
            <div class="text-justify mr-30">@Html.Raw(Model.Book.BookDescription)</div>

        }
    </div>
    <div class="text-center mr-t-10">
        <div class="col-md-12 mr-t-b-25">
            @if (User.IsInRole(WebConstants.LibrarianAuthorRole) || User.IsInRole(WebConstants.AdministratorRole))
            {
            <a class="btn btn-sm btn-warning" asp-area="LibraryBlog" asp-controller="Books" asp-action="Edit">@Localizer["Edit"]</a>
            <a class="btn btn-sm btn-danger" asp-area="LibraryBlog" asp-controller="Books" asp-action="Delete">@Localizer["Delete"]</a>
            }
            <a class="lib-btn-invrt" asp-area="" asp-controller="Home" asp-action="Faq">@Localizer["I want the book"]</a>
            <a class="lib-btn" href="javascript:history.go(-1)">@Localizer["Back"]</a>
        </div>
    </div>
</div>
