@model SurveyListingViewModel
@inject IViewLocalizer Localizer

<div class="row mr-8 text-center">
    <div>
        <a asp-area="LibraryBlog" asp-controller="Books" asp-action="Books" class="hidden-lg hidden-md">
            <p class="lib-sidebar-p1 box-shaddow-type-one">@Localizer["View latest books"]</p>
        </a>
    </div>
    <div>
        <a asp-area="LibraryBlog" asp-controller="Subscriptions" asp-action="Subscriptions" class="hidden-lg hidden-md">
            <p class="lib-sidebar-p1 box-shaddow-type-one">@Localizer["Subscriptions"]</p>
        </a>
    </div>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Ask">
            <p class="lib-sidebar-p1 box-shaddow-type-one">@Localizer["Ask the librarian"]</p>
        </a>
    </div>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="ExtendPeriod">
            <p class="lib-sidebar-p1 box-shaddow-type-one">@Localizer["Еxtend book borrow period"]</p>
        </a>
    </div>   
    <div>
        <a asp-area="LibraryBlog" asp-controller="Surveys" asp-action="Survey" asp-route-id="@Model.Surveys.Last().id">
            <p class="lib-sidebar-p1 box-shaddow-type-one">@Localizer["Become volunteer"]</p>
        </a>
    </div>
    <div>
        <a asp-area="LibraryBlog" asp-controller="Surveys" asp-action="Survey" asp-route-id="@Model.Surveys.First().id">
            <p class="lib-sidebar-p1 box-shaddow-type-one">@Localizer["Join survey"]</p>
        </a>
    </div>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Donations">
            <p class="lib-sidebar-p1 box-shaddow-type-one">@Localizer["Make donation"]</p>
        </a>
    </div>
    <div class="lib-bp">
        <a asp-area="" asp-controller="Home" asp-action="LibraryPost">
            <p class="lib-sidebar-p">@Localizer["LibraryPost"]</p>
            <img class=" box-shaddow-type-one lib-sidebar-img hidden-md hidden-sm hidden-xs" src="~/images/SiteImages/biblio-poshta.JPG" alt="@Localizer["LibraryPost"]" />
            <div class="hidden-lg bor-bot-l-rad-20 box-shaddow-type-one">
                <img class="lib-sidebar-img" src="~/images/SiteImages/biblio-poshta.JPG" alt="@Localizer["LibraryPost"]" />
            </div>
        </a>
    </div>
</div>
