@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ChildrensDepartment"];
    ViewData["Description"] = Localizer["metadata"];

    var currentCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
}
<div class="text-center row">
    <h2>@Localizer["ChildrensDepartment"]</h2>
</div>
<div class="row max-w-500 mr-10-auto">
    <table class="table-hover max-width">
        <thead>
            <tr>
                <th colspan="2" class="text-center">@Localizer["OpeningHours"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="p-0-3 text-left">@Localizer["MondayFriday"]</td>
                <td class="p-0-3 text-left">@Localizer["WeekWorkTime"]</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">@Localizer["Saturday"]</td>
                <td class="p-0-3 text-left">@Localizer["SaturdayWorkTime"]</td>
            </tr>
        </tbody>
    </table>
    <div class="panorama">
        <img src="~/images/SiteImages/kids.jpg" alt="@Localizer["ChildrensDepartment"]">
    </div>
</div>
<div class="col-md-12">
    <div class="text-justify max-w-750 mr-0-auto">
        @if (currentCulture == "bg-BG")
        {
            <p class="text-center italic">Деца, глъч, светли и просторни зали, кътове за четене и игра</p>
            <p class="text-center italic">и много детски усмивки.</p>
            <p class="text-center italic">Това е мястото където се случва първата среща на малкия читател</p>
            <p class="text-center italic">с библиотеката и книгите.</p>
        }
        <p>@Localizer["FirstParagraph"]</p>
        <p>@Localizer["SecondParagraph"]</p>
        <p>@Localizer["ThirdParagraph"]</p>
        <div class="text-center mr-t-b-25">
            <a class="lib-btn" href="javascript:history.go(-1)">@Localizer["Back"]</a>
        </div>
    </div>
</div>
