@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Contributors"];
    ViewData["Description"] = Localizer["metadata"];
}

<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div id="scroll-id1" class="row p-10-table">
    <h3 class="text-center">@Localizer["title"]</h3>
    <div class="col-md-5">
        <table class="table table-responsive table-hover mr-t-b-25">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">@Localizer["organizations"]</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center first-color-b second-color">@Localizer["Organization"]</th>
                    <th class="text-center first-color-b second-color">@Localizer["Donation"]</th>
                </tr>
                <tr>
                    <td class="vertical-align-middle" rowspan="2">@Localizer["FirstO"]</td>
                    <td>990 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">136 @Localizer["audio"]</td>
                </tr>
                <tr>
                    <td>@Localizer["SecondO"]</td>
                    <td>688 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirdO"]</td>
                    <td>669 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle" rowspan="4">@Localizer["FourthO"]</td>
                    <td>461 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">164 @Localizer["records"]</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">81 @Localizer["audio"]</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">@Localizer["computer"]</td>
                </tr>
                <tr>
                    <td>@Localizer["FifthO"]</td>
                    <td>635 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["SixthO"]</td>
                    <td>452 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["SeventhO"]</td>
                    <td>385 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["EightO"]</td>
                    <td>350 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["NinthO"]</td>
                    <td>250 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TenO"]</td>
                    <td>228 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ElevenO"]</td>
                    <td>157 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwelveO"]</td>
                    <td>156 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirteenO"]</td>
                    <td>154 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourteenO"]</td>
                    <td>136 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FifteenO"]</td>
                    <td>125 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["SixteenO"]</td>
                    <td>113 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["SeventeenO"]</td>
                    <td>111 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["EighteenO"]</td>
                    <td>106 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["NineteenO"]</td>
                    <td>100 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyO"]</td>
                    <td>60 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyOneO"]</td>
                    <td>52 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyTwoO"]</td>
                    <td>45 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyThreeO"]</td>
                    <td>34 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyFourO"]</td>
                    <td>34 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyFiveO"]</td>
                    <td>27 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentySixO"]</td>
                    <td>27 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentySevenO"]</td>
                    <td>26 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyEightO"]</td>
                    <td>22 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyNineO"]</td>
                    <td>60 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyO"]</td>
                    <td>22 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyOneO"]</td>
                    <td>22 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyTwoO"]</td>
                    <td>12 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyThreeO"]</td>
                    <td>12 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyFourO"]</td>
                    <td>11 @Localizer["t"].</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <table class="table table-responsive table-hover mr-t-b-25">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">@Localizer["Individuals"]</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center first-color-b second-color">@Localizer["Name"]</th>
                    <th class="text-center first-color-b second-color">@Localizer["Donation"]</th>
                </tr>
                <tr>
                    <td class="vertical-align-middle">@Localizer["OneP"]</td>
                    <td>1027 @Localizer["records"]</td>
                </tr>
                <tr>
                    <td>@Localizer["TwoP"]</td>
                    <td>900 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThreeP"]</td>
                    <td>812 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourP"]</td>
                    <td>806 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FiveP"]</td>
                    <td>450 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["SixP"]</td>
                    <td>416 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["SevenP"]</td>
                    <td>246 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["EightP"]</td>
                    <td>197 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["NineP"]</td>
                    <td>193 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TenP"]</td>
                    <td>177 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ElevenP"]</td>
                    <td>140 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwelveP"]</td>
                    <td>117 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirteenP"]</td>
                    <td>121 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourteenP"]</td>
                    <td>102 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FifteenP"]</td>
                    <td>140 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["SixteenP"]</td>
                    <td>101 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td rowspan="3" class="vertical-align-middle">@Localizer["SeventeenP"]</td>
                    <td>84 @Localizer["records"]</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">19 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">27 CD</td>
                </tr>
                <tr>
                    <td>@Localizer["EighteenP"]</td>
                    <td>67 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["NineteenP"]</td>
                    <td>61 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyP"]</td>
                    <td>61 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyOneP"]</td>
                    <td>55 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyTwoP"]</td>
                    <td>47 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyThreeP"]</td>
                    <td>42 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyFourP"]</td>
                    <td>40 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyFiveP"]</td>
                    <td>38 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentySixP"]</td>
                    <td>37 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentySevenP"]</td>
                    <td>36 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyEightP"]</td>
                    <td>35 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["TwentyNineP"]</td>
                    <td>35 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyP"]</td>
                    <td>31 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyOneP"]</td>
                    <td>31 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyTwoP"]</td>
                    <td>30 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyThreeP"]</td>
                    <td>30 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyFourP"]</td>
                    <td>30 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyFiveP"]</td>
                    <td>30 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtySixP"]</td>
                    <td>29 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtySevenP"]</td>
                    <td>28 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyEightP"]</td>
                    <td>27 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["ThirtyNineP"]</td>
                    <td>22 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourtyP"]</td>
                    <td>22 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourtyOneP"]</td>
                    <td>22 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourtyTwoP"]</td>
                    <td>21 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourtyThreeP"]</td>
                    <td>21 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourtyFourP"]</td>
                    <td>20 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourtyFiveP"]</td>
                    <td>19 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourtySixP"]</td>
                    <td>19 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourtySevenP"]</td>
                    <td>19 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourtyEightP"]</td>
                    <td>18 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FourtyNineP"]</td>
                    <td>17 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FiftyP"]</td>
                    <td>15 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FiftyOneP"]</td>
                    <td>15 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FiftyTwoP"]</td>
                    <td>15 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FiftyThreeP"]</td>
                    <td>14 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FiftyFourP"]</td>
                    <td>14 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FiftyFiveP"]</td>
                    <td>13 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FiftySixP"]</td>
                    <td>13 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FiftySevenP"]</td>
                    <td>12 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FiftyEightP"]</td>
                    <td>12 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["FiftyNineP"]</td>
                    <td>12 @Localizer["t"].</td>
                </tr>
                <tr>
                    <td>@Localizer["SixtyP"]</td>
                    <td>10 @Localizer["t"].</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row text-center">
    <a id="link1" href="#"><p class="lib-arrow-up glyphicon glyphicon-arrow-up text-center"></p></a>
</div>
