@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Contact"];
    ViewData["Description"] = Localizer["Regional Library \"Mihalaki Georgiev\" - Vidin, address,Phone,Email. Find us!"];
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row text-center p-10 ">
    <div class="address-box">
        <p><span class="glyphicon glyphicon-home"></span><span class="bold"> @Localizer["Address"]:</span> @Localizer["\"Bdintzi\" Square"] № 1</p>
        <p><span class="glyphicon glyphicon-phone"></span><span class="bold"> @Localizer["Phone"]:</span> 094/601-704</p>
        <p style="margin: 0;"><span class="glyphicon glyphicon-envelope"></span><span class="bold"> @Localizer["Email"]:</span> libvidin@vidin.net</p>
    </div>
    <div id="map_canvas" class="google-box-height" style="border-radius: 30px; width: 85%; margin: 0 auto;"></div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            initMap();
        });

        function initMap() {

            var library = new google.maps.LatLng(43.9864002, 22.8772501);

            var mapOptions = {
                zoom: 18,
                center: library
            };

            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            var data = [
                {
                    "Id": 1,
                    "PlaceName": "@Localizer["R.L. Mihalaki Georgiev"]",
                    "GeoLong": "43.9864",
                    "GeoLat": "22.87725"
                }
            ];

            $.each(data,
                function (i, item) {
                    var marker = new google.maps.Marker({
                        'position': library,
                        'map': map,
                        'title': item.PlaceName
                    });

                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');

                    var workHours = "@Localizer["Opening time"]:";
                    var workHrOne = "@Localizer["Monday-Friday"]: 9:00-18:00";
                    var workHrTwo = "@Localizer["Saturday"]: 9:00-14:00";
                    var workHrThree = "@Localizer["Sunday: Closed"]";

                    var infowindow = new google.maps.InfoWindow({
                        content: "<div class='infoDiv text-center'><h3>" +
                        item.PlaceName +
                        "</h2>" +
                        "<div><img class='small-img' src='/images/SiteImages/Library.jpg' alt='@Localizer["R.L. Mihalaki Georgiev"]' /></div>" +
                        "<h4>" +
                        workHours +
                        "</h4><p>" +
                        workHrOne +
                        "</p>" +
                        workHrTwo +
                        "</p>" +
                        workHrThree +
                        "</p>" +
                        "</div></div>"
                    });

                    var test = new google.maps.event.addListener(marker,
                        'click',
                        function () {
                            infowindow.open(map, marker);
                        });
                });
        }
    </script>
}

