@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Functions"];
    ViewData["Description"] = Localizer["metadata"];
}
<div class="row text-center">
    <h2>@ViewData["Title"] @Localizer["library"]</h2>
</div>
<div class="row text-justify width-85pr mr-0-auto">
    <p>@Localizer["Paragraph"]:</p>
    <ol>
        <li class="mb-10">@Localizer["ListItemOne"];</li>
        <li class="mb-10">@Localizer["ListItemTwo"];</li>
        <li class="mb-10">@Localizer["ListItemThree"];</li>
        <li class="mb-10">@Localizer["ListItemFour"];</li>
        <li class="mb-10">@Localizer["ListItemFive"];</li>
        <li class="mb-10">@Localizer["ListItemSix"];</li>
        <li class="mb-10">@Localizer["ListItemSeven"];</li>
        <li class="mb-10">@Localizer["ListItemEight"];</li>
        <li class="mb-10">@Localizer["ListItemNine"];</li>
        <li class="mb-10">@Localizer["ListItemTen"].</li>
    </ol>
</div>

