@model ArticleListingHomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div id="myCarousel" class="carousel slide carousel-custom-settings" data-ride="carousel" data-interval="6000">
        <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner" role="listbox" style="border-radius: 50px">
            @{
                var count = 0;
                foreach (var article in Model.Articles)
                {
                    if (count == 0)
                    {
                        <div class="item active">
                            <a style="text-decoration: none;color: #fff" asp-area="LibraryBlog" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">

                                <img src="@article.Gallery.Images.First().ImagePath" alt="@article.Title" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p style="padding: 5px; background: rgba(0, 0, 0, 0.7); border-radius: 20px;">
                                        @article.Title
                                        <span style="border-color: rgba(83, 198, 83, 0.5);background-color: rgba(83, 198, 83, 0.5);color:#ffffff" class="btn btn-default" asp-area="LibraryBlog" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                                            Прочети още
                                        </span>
                                    </p>

                                </div>
                            </a>
                        </div>
                        count++;
                    }
                    else
                    {
                        <div class="item">
                            <a style="text-decoration: none;color: #fff" asp-area="LibraryBlog" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                                <img src="@article.Gallery.Images.First().ImagePath" alt="@article.Title" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p style="padding: 5px; background: rgba(0, 0, 0, 0.7); border-radius: 20px;">
                                        @article.Title
                                        <span style="border-color: rgba(83, 198, 83, 0.5);background-color: rgba(83, 198, 83, 0.5);color:#ffffff" class="btn btn-default" asp-area="LibraryBlog" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                                            Прочети още
                                        </span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        count++;
                    }
                }
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="border-top-left-radius: 50px;border-bottom-left-radius: 50px;">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Предишна</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="border-top-right-radius: 50px;border-bottom-right-radius: 50px;">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Следваща</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a asp-controller="Home" asp-action="Ask"><img class="img-responsive" src="images/SiteImages/ask.jpg" /></a>
    </div>
    <div class="col-md-6">
        <div id="eventCalendarLocaleFile" class="width-300"></div>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#eventCalendarLocaleFile").eventCalendar({
                eventsjson: 'lib/jquery/dist/EventsDb.json',
                locales: {
                    locale: "bg",
                    monthNames: ["Януари", "Февруари", "Март", "Април", "Май", "Юни",
                        "Юли", "Август", "Септмври", "Октомври", "Ноември", "Декември"],
                    dayNames: ['Понеделник', 'Вторник', 'Сряда', 'Четвъртък',
                        'Петък', 'Събота', 'Неделя'],
                    dayNamesShort: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Нд'],
                    txt_noEvents: "Няма събития",
                    txt_SpecificEvents_prev: "",
                    txt_SpecificEvents_after: "Събития:",
                    txt_next: "следващ",
                    txt_prev: "предишен",
                    txt_NextEvents: "Предстоящи събития:",
                    txt_GoToEventUrl: "Подробности",
                    "moment": {
                        "months": ["Януари", "Февруари", "Март", "Април", "Май", "Юни",
                            "Юли", "Август", "Септмври", "Октомври", "Ноември", "Декември"],
                        "monthsShort": ["Яну", "Фев", "Мар", "Апр", "Май", "Юни",
                            "Юли", "Авг", "Сеп", "Окт", "Ное", "Дек"],
                        "weekdays": ['Понеделник', 'Вторник', 'Сряда', 'Четвъртък',
                            'Петък', 'Събота', 'Неделя'],
                        "weekdaysShort": ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Нд'],
                        "weekdaysMin": ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Нд'],
                        "longDateFormat": {
                            "LT": "H:mm",
                            "LTS": "LT:ss",
                            "L": "DD/MM/YYYY",
                            "LL": "D MMMM YYYY",
                            "LLL": "D MMMM YYYY LT",
                            "LLLL": "dddd, D MMMM YYYY LT"
                        },
                        "week": {
                            "dow": 1,
                            "doy": 4
                        }
                    }
                }
            });
        });
    </script>
}