@model ArticleListingHomeViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home"];
    ViewData["Description"] = Localizer["The \"Mihalaki Georgiev\" Regional Library in Vidin is currently housed in the building of the former Party House on the central city square \"Bdintsi\" No 1 (tel.:94-22673). Today, the library is the largest public library in the Vidin District."];
}
<div class="row hidden-xs">
    <div class="mr-0-auto col-md-offset-6" style="width: 30px">
        <div id="lib-search" class="third-color-b dropdown">
            <a class="glyphicon glyphicon-search second-color dropdown-toggle cr-pointer" data-toggle="dropdown" aria-expanded="false" style="font-size: 25px;padding-top: 10px;padding-left: 16px;"></a>
            <span class="second-color" style="padding-left: 10px;">@Localizer["Search"]</span>
            <div class="first-color-b dropdown-menu drop" style="width: 475px; height: 120px; padding: 10px; border-radius: 20px;position: absolute;top: -96px;left: -200px;">
                @await Component.InvokeAsync("Search")
            </div>
        </div>
    </div>
</div>
<div class="row text-center mr-l-1">
    <a asp-area="LibraryBlog" asp-controller="Articles" asp-action="Articles" style="text-decoration: none">
        <h1 class="text-center" id="carosel-h1">@Localizer["Latest news"]</h1>
    </a>
    <div id="myCarousel" class="carousel slide carousel-custom-settings" data-ride="carousel" data-interval="6000">
        <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner" role="listbox" style="border-bottom-left-radius: 50px; border-bottom-right-radius: 50px">
            @{
                var count = 0;
                foreach (var article in Model.Articles)
                {
                    if (count == 0)
                    {
                        <div class="item active">
                            <img src="@Url.Content(article.Gallery.Images.First().ImagePath)" alt="@article.Title" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p class="carosel-p">
                                    <span class="carosel-span-0">@article.Title</span>
                                    <a class="carosel-span" style="text-decoration: none; color: #fff" asp-area="LibraryBlog" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                                        @Localizer["Read more"]
                                    </a>
                                </p>
                            </div>
                        </div>
                        count++;
                    }
                    else
                    {
                        <div class="item">
                            <img src="@Url.Content(article.Gallery.Images.First().ImagePath)" alt="@article.Title" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p class="carosel-p">
                                    <span class="carosel-span-0">@article.Title</span>
                                    <a class="carosel-span" style="text-decoration: none; color: #fff" asp-area="LibraryBlog" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                                        @Localizer["Read more"]
                                    </a>
                                </p>
                            </div>
                        </div>
                        count++;
                    }
                }
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="border-bottom-left-radius: 50px;">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">@Localizer["Previous"]</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="border-bottom-right-radius: 50px;">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">@Localizer["Next"]</span>
        </a>
    </div>
</div>

