@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Library"];
    ViewData["Description"] = Localizer["metadata"];
}
<div class="row  text-center">
    <h2>@Localizer["Library"]</h2>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row text-justify p-10">
            <p>@Localizer["FirstParagraph"]</p>
            <p>@Localizer["SecondParagraph"]</p>
            <p>@Localizer["ThirdParagraph"]</p>
        </div>
        <div class="text-center">
            <a class="lib-btn" asp-area="" asp-controller="Home" asp-action="History">@Localizer["History"]</a>
        </div>
        <div class="text-center mr-t-40">
            <h3 class="">@Localizer["SecondHeading"]</h3>
          
                <p class="p-t-20">
                    <a class="font-size-1k4em" asp-area="" asp-controller="Home" asp-action="ViewPdf" asp-route-name="135 години Р.Б. Михалаки Георгиев - Летопис">@Localizer["FirstBook"]</a>
                </p>
                <p class="p-t-20">
                    <a class="font-size-1k4em" asp-area="" asp-controller="Home" asp-action="ViewPdf" asp-route-name="145 години Р.Б. Михалаки Георгиев - Летопис">@Localizer["SecondBook"]</a>
                </p>
                <p class="p-t-20">
                    <a class="font-size-1k4em" asp-area="" asp-controller="Home" asp-action="ViewPdf" asp-route-name="Съкровищница на писаното слово и човешката памет">@Localizer["ThirdBook"]</a>
                </p>
          
        </div>
    </div>
   
</div>

