@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["LibraryPost"];
    ViewData["Description"] = Localizer["MetaData"];
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row">
    <div class="col-md-12 text-justify">
        <div class="text-center mr-t-b-25">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/BiblioPoshta1.jpg" Title="@Localizer["LibraryPost"]">
                <img class="min-w-300 width-46pr mr-8 img-border" src="/images/SiteImages/BiblioPoshta1.jpg" alt="@Localizer["LibraryPost"]" />
            </a>
        </div>
        <p class="mr-0-auto">@Localizer["FirstParagraph"]</p>
        <div class="popup-gallery  mr-0-auto">
            <div class="text-center mr-b-10 float-left">
                <a href="/images/SiteImages/BiblioPoshta2.jpg" Title="@Localizer["Interior"]">
                    <img class="mr-8 img-border max-width-310" src="/images/SiteImages/BiblioPoshta2.jpg" alt="@Localizer["Interior"]" />
                </a>
            </div>
            <div class=" mr-t-b-25 text-left">
                <a href="/images/SiteImages/BiblioPoshta3.jpg" Title="@Localizer["Interior"]">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta3.jpg" alt="@Localizer["Interior"]" />
                </a>
                <a href="/images/SiteImages/BiblioPoshta4.jpg" Title="@Localizer["Interior"]">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta4.jpg" alt="@Localizer["Interior"]" />
                </a>
                <a href="/images/SiteImages/BiblioPoshta6.jpg" Title="@Localizer["Interior"]">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta6.jpg" alt="@Localizer["Interior"]" />
                </a>
                <a href="/images/SiteImages/BiblioPoshta7.jpg" Title="@Localizer["Interior"]">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta7.jpg" alt="@Localizer["Interior"]" />
                </a>
                <a href="/images/SiteImages/BiblioPoshta8.jpg" Title="@Localizer["Interior"]">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta8.jpg" alt="@Localizer["Interior"]" />
                </a>
                <a href="/images/SiteImages/BiblioPoshta9.jpg" Title="@Localizer["Interior"]">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta9.jpg" alt="@Localizer["Interior"]" />
                </a>
                <a href="/images/SiteImages/BiblioPoshta10.jpg" Title="@Localizer["Interior"]">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta10.jpg" alt="@Localizer["Interior"]" />
                </a>
                <a href="/images/SiteImages/BiblioPoshta11.jpg" Title="@Localizer["Interior"]">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta11.jpg" alt="@Localizer["Interior"]" />
                </a>
            </div>
        </div>
        <p>@Localizer["SecondParagraph"]</p>
        <p>@Localizer["ThirdParagraph"]</p>
    </div>
</div>
