@inject IViewLocalizer Localizer
@model SurveyListingViewModel
@{
    ViewData["Title"] = Localizer["title"];
    ViewData["Description"] = Localizer["metadata"];
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row text-center mr-t-b-25">
    <div class="mr-0-auto disp-inl-bl">
        <ul class="text-left">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
            <li>
                @Localizer["Library"]
            <ul>
                <li>
                    @Localizer["AboutUs"]
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Library">@Localizer["LibraryInfo"]</a>
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="History">@Localizer["History"]</a>
                            </li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Functions">@Localizer["Functions"]</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Structure">@Localizer["Structure"]</a>
                        <ul>
                            <li><a asp-area="" asp-controller="Home" asp-action="BookBorrowing">@Localizer["Lending"]</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Children">@Localizer["Children"]</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="ReadingRooms">@Localizer["ReadingRooms"]</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="InformationCenter">@Localizer["InfoCenter"]</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="ForeignReadingRoom">@Localizer["Foreign"]</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Art">@Localizer["Art"]</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Homeland">@Localizer["LocalHistory"]</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="SrcDepartment">@Localizer["SRC"]</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Methodological">@Localizer["Methodological"]</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="EventsRoom">@Localizer["EventsRoom"]</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                @Localizer["UsefulInformation"]
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">@Localizer["FindUs"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="WorkTime">@Localizer["OpeningHours"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="PriceList">@Localizer["PriceList"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Staff">@Localizer["Contacts"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Faq">@Localizer["FAQ"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Links">@Localizer["UsefulLinks"]</a></li>
            </ul>
        </li>
        <li><a asp-area="" asp-controller="Home" asp-action="Services">@Localizer["OurServices"]</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contributors">@Localizer["Contributors"]</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Partners">@Localizer["Partners"]</a></li>
    </ul>
</li>
<li>
    @Localizer["KidsWorld"]
<ul>
    <li><a asp-area="LibraryBlog" asp-controller="Books" asp-action="BooksForKids">@Localizer["NewChildrenBooks"]</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ProgramForKids">@Localizer["WorkWithChildrenProgram"]</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Internet">@Localizer["SafeInternet"]</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ForTheStudents">@Localizer["ForTheStudent"]</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ForTheEnthusiasts">@Localizer["ForTheCurious"]</a></li>
</ul>
</li>
<li>
    @Localizer["Homeland"]
<ul>
    <li><a asp-area="" asp-controller="Home" asp-action="MihalakiGeorgiev">@Localizer["MihalakiGeorgiev"]</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Vidin">@Localizer["Vidin"]</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Editions">@Localizer["Publications"]</a></li>
    <li><a asp-area="LibraryBlog" asp-controller="Books" asp-action="BooksForLand">@Localizer["NewBooks"]</a></li>
</ul>
</li>
<li><a asp-area="LibraryBlog" asp-controller="Articles" asp-action="Articles">@Localizer["News"]</a></li>
<li><a asp-area="LibraryBlog" asp-controller="Galleries" asp-action="Galleries">@Localizer["Gallery"]</a></li>
<li>
    @Localizer["ELibrary"]
<ul>
    <li><a href="//libvidin.eu:8080/absw/abs.htm">@Localizer["ELibrary"]</a></li>
    <li><a asp-area="LibraryBlog" asp-controller="Books" asp-action="Books">@Localizer["NewBooks"]</a></li>
    <li><a asp-area="LibraryBlog" asp-controller="Subscriptions" asp-action="Subscriptions">@Localizer["Subscriptions"]</a></li>
    <li><a href="//www.pc-tm.com/docs/pc-tm-ic_08.htm">@Localizer["OtherECatalouges"]</a></li>
</ul>
</li>
</ul>
<ul class="text-left mr-t-b-25">
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Ask">@Localizer["AskTheLibrarian"]</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="ExtendPeriod">@Localizer["ЕxtendBookBorrowPeriod"]</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Donations">@Localizer["MakeDonation"]</a>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Donatebook">@Localizer["material"]</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Donate">@Localizer["financial"]</a></li>
        </ul>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="LibraryPost">@Localizer["LibraryPost"]</a>
    </li>
</ul>
</div>
</div>

