@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["SRC"];
}

<div class="row text-center">
    <h2>@Localizer["SRC"]</h2>
</div>
<div class="max-w-500 mr-10-auto">
    <table class="table-hover max-width">
        <thead>
            <tr>
                <th colspan="2" class="text-center">@Localizer["OpeningHours"]</th>
            </tr>
        </thead>
        <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">@Localizer["MondayFriday"]</td>
                <td class="p-0-3 text-left">@Localizer["WeekWorkTime"]</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">@Localizer["Saturday"]</td>
                <td class="p-0-3 text-left">@Localizer["SaturdayWorkTime"]</td>
            </tr>
        </tbody>
    </table>
    <div class="panorama">
        <img src="~/images/SiteImages/CISBO.jpg" alt="@Localizer["SRC"]">
    </div>
</div>
<div class="col-md-12">
    <div class="text-justify max-w-750 mr-0-auto">
        <p>@Localizer["FirstParagraph"]</p>
    </div>
    <div class="text-center mr-t-b-25">
        <a class="lib-btn" href="javascript:history.go(-1)">@Localizer["Back"]</a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(".panorama").panorama_viewer({
            repeat: true,
            direction: "horizontal",
            animationTime: 1200,
            easing: "ease-out",
            overlay: true
        });
    </script>
}

