@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Contacts"];
    ViewData["Description"] = Localizer["List with contact information for the staff of Regional Library \'Mihalaki Georgiev\' - Vidin"];
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row p-10-table">
    <table class="table table-condensed table-responsive vertical-align-middle">
        <thead>
            <tr>
                <th colspan="3" class="text-center">@Localizer["Administration"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center first-color-b second-color">@Localizer["Department"]</th>
                <th class="text-center first-color-b second-color">@Localizer["Name"]</th>
                <th class="text-center first-color-b second-color">@Localizer["Phone and Email"]</th>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">@Localizer["Director"]</td>
                <td class="vertical-align-middle">@Localizer["Desislava Ivanova"]</td>
                <td class="vertical-align-middle">
                    <p>094/601-704</p>
                    <p>087 9949 204</p>
                    <p>libvidin@vidin.net</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="2">@Localizer["Accounting and cash desk"]</td>
                <td class="vertical-align-middle">@Localizer["Boris Ivanov"]</td>
                <td class="vertical-align-middle">087 9597 141</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Milena Gergova"]</td>
                <td class="vertical-align-middle">087 7185 273</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">@Localizer["Automation"]</td>
                <td class="vertical-align-middle">@Localizer["Vasko Viktorov"]</td>
                <td class="vertical-align-middle"></td>
            </tr>
            <tr>
                <th colspan="3" class="text-center first-color-b second-color">@Localizer["Service units"]</th>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="4">@Localizer["Book borrowing"]</td>
                <td class="vertical-align-middle">@Localizer["Valentina Vulcheva"] - @Localizer["head dep."]</td>
                <td class="vertical-align-middle" rowspan="4">
                    <p>094/601-702</p>
                    <p class="word-break">zaemna_vidin@abv.bg</p>
                    <p class="word-break">skype: zaemna_vidin@abv.bg</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Lidia Velkova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Tsvetan Tsekov"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Todor Mladenov"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="4">@Localizer["Reading Rooms - Humanities, accurate and applied science, periodicals"]</td>
                <td class="vertical-align-middle">@Localizer["Boriana Dikova"] - @Localizer["head dep."]</td>
                <td class="vertical-align-middle" rowspan="4">
                    <p>087 9940 277</p>
                    <p>vidlib.chit@gmail.com</p>
                    <p>skype: chitalnq_vidin</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Desislava Krusteva"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Irena Filipova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Daniela Vurlakova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="4">@Localizer["Children department"]</td>
                <td class="vertical-align-middle">@Localizer["Adriana Tsvetkova"] - @Localizer["head dep."]</td>
                <td class="vertical-align-middle" rowspan="4">
                    <p>087 9597 148</p>
                    <p>vdkids@abv.bg</p>
                    <p>skype: vd_kids</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Milena Ivanova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Mariana Petrova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Liudmila Siridonova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">@Localizer["Foreign languages reading room"]</td>
                <td class="vertical-align-middle">@Localizer["Tatiana Nikolova"]</td>
                <td class="vertical-align-middle">
                    <p>089 8821 617</p>
                    <p>ezicovarbmg@abv.bg</p>                
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">@Localizer["Center for information and referential-bibliographic services"]</td>
                <td class="vertical-align-middle">@Localizer["Kritian Hristov"]</td>
                <td class="vertical-align-middle">
                    <p></p>
                    <p>kriscoo01@abv.bg</p>
                    <p>skype: krisco01</p>
                </td>
            </tr>
            <tr>
                <th colspan="3" class="text-center first-color-b second-color">@Localizer["Specialized units"]</th>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="2">@Localizer["Assembly, Processing and Cataloging"]</td>
                <td class="vertical-align-middle">@Localizer["Ivanka Ivanova"]</td>
                <td class="vertical-align-middle" rowspan="2">
                    <p></p>
                    <p>biblvidin@abv.bg</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Manuela Mitkova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="2">@Localizer["Homeland department"]</td>
                <td class="vertical-align-middle">@Localizer["Natalia Nikolova"]</td>
                <td class="vertical-align-middle" rowspan="2">
                    <p>087 9940 279</p>
                    <p class="word-break">kraeznanie_vidin@abv.bg</p>
                    <p>skype: live:kraeznanie_vidin</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Galina Stoianova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">@Localizer["Art"]</td>
                <td class="vertical-align-middle">@Localizer["Maya Manolova"]</td>
                <td class="vertical-align-middle">087 9940 282</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="2">@Localizer["Methodological"]</td>
                <td class="vertical-align-middle">@Localizer["Dimitrina Dimitrova"]</td>
                <td class="vertical-align-middle"></td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Todorka Doncheva"]</td>
                <td class="vertical-align-middle"></td>
            </tr>
        </tbody>
    </table>
</div>