@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Structure"];
    ViewData["Description"] = Localizer["Structure of the departments in the Regional Library \"Mihalaki Georgiev\"  - Vidin."];
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row width-85pr mr-0-auto text-center">
    <div class="row text-justify">
        <div class="col-md-5 col-md-offset-4 text-center">
            <ul class="lib-footer-ul text-justify" style="display: inline-block; padding-left: 50px;">
                <li><a asp-area="" asp-controller="Home" asp-action="BookBorrowing">@Localizer["Lending department for adults"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Children">@Localizer["\"Children's\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="ReadingRooms">@Localizer["\"Reading rooms - branch of scholarship, exact and applied sciences, periodicals\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="InformationCenter">@Localizer["Information and reference-bibliographic services center"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="ForeignReadingRoom">@Localizer["\"Foreign language reading room\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Art">@Localizer["\"Art\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Homeland">@Localizer["\"Local history\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="SrcDepartment">@Localizer["\"Supplying, registration and cataloging\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Methodological">@Localizer["\"Methodological\" department"]</a></li>
            </ul>
        </div>
    </div>
</div>
