@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Structure"];
    ViewData["Description"] = Localizer["Structure of the departments in the Regional Library \"Mihalaki Georgiev\"  - Vidin."];
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row">
    <div class="col-md-12 mr-t-b-25">
        <div class="max-w-300 mr-0-auto text-justify p-l-45">
            <ul class="lib-footer-ul">
                <li><a asp-area="" asp-controller="Home" asp-action="BookBorrowing">@Localizer["Lending department for adults"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Children">@Localizer["\"Children's\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="ReadingRooms">@Localizer["\"Reading rooms - branch of scholarship, exact and applied sciences, periodicals\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="InformationCenter">@Localizer["Information and reference-bibliographic services center"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="ForeignReadingRoom">@Localizer["\"Foreign language reading room\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Art">@Localizer["\"Art\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Homeland">@Localizer["\"Local history\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="SrcDepartment">@Localizer["\"Supplying, registration and cataloging\" department"]</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Methodological">@Localizer["\"Methodological\" department"]</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-12">
        <img src="/images/SiteImages/FirstFloor.png" style="width: 449px; display: block;" />

        <div id="ff1">
            <img id="ff1p1" src="/images/SiteImages/FF1arrow.png" />
            <img id="ff1p2" src="/images/SiteImages/FF1.png" />
        </div>
    </div>
    <div id="building-map" class="col-md-12">
        <img src="/images/SiteImages/SecondFloor.png" style="width: 877px; display: block;" />
        <div id="sf1">
            <img id="sf1p1" src="/images/SiteImages/SF1arrow.png" />
            <img id="sf1p2" src="/images/SiteImages/SF1.png" />
        </div>
        <div id="sf2">
            <img id="sf2p1" src="/images/SiteImages/SF2arrow.png" />
            <img id="sf2p2" src="/images/SiteImages/SF2.png" />
        </div>
        <div id="sf3">
            <img id="sf3p1" src="/images/SiteImages/SF3arrow.png" />
            <img id="sf3p2" src="/images/SiteImages/SF3.png" />
        </div>
        <div id="sf4">
            <img id="sf4p1" src="/images/SiteImages/SF4arrow.png" />
            <img id="sf4p2" src="/images/SiteImages/SF4.png" />
        </div>
        <div id="sf5">
            <img id="sf5p1" src="/images/SiteImages/SF5arrow.png" />
            <img id="sf5p2" src="/images/SiteImages/SF5.png" />
        </div>
        <div id="sf6">
            <img id="sf6p1" src="/images/SiteImages/SF6arrow.png" />
            <img id="sf6p2" src="/images/SiteImages/SF6.png" />
        </div>
    </div>
</div>

