@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Opening hours"];
    ViewData["Description"] = "Работно време на всички отдели в Регионална библиотека \"Михалаки Георгиев\" - гр. Видин";
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row mr-t-b-25 p-10-table">
    <table class="table-hover mr-10-auto table-condensed ">
        <thead>
            <tr>
                <th class="text-center p-10" colspan="3">@Localizer["Library opening hours"]*</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">@Localizer["Department"]</td>
                <td class="text-center second-color first-color-b bold">@Localizer["Monday - Friday"]</td>
                <td class="text-center second-color first-color-b bold">@Localizer["Saturday"]</td>
            </tr>
            <tr>
                <td class="p-0-3">@Localizer["Book borrowing"]</td>
                <td class="p-0-3">@Localizer["9:00 to 18:00"]</td>
                <td class="p-0-3">@Localizer["9:00 to 14:00"]</td>
            </tr>
            <tr>
                <td class="p-0-3">@Localizer["Children's"]</td>
                <td class="p-0-3">@Localizer["9:00 to 18:00"]</td>
                <td class="p-0-3">@Localizer["9:00 to 14:00"]</td>
            </tr>
            <tr>
                <td class="p-0-3">>@Localizer["Reading rooms"]</td>
                <td class="p-0-3">@Localizer["9:00 to 18:00"]</td>
                <td class="p-0-3">@Localizer["Closed"]</td>
            </tr>
            <tr>
                <td class="p-0-3">@Localizer["Foreign language reading room"]</td>
                <td class="p-0-3">@Localizer["9:00 to 12:00; 12:30 to 17:00"]</td>
                <td class="p-0-3">@Localizer["Closed"]</td>
            </tr>
            <tr>
                <td class="p-0-3">@Localizer["Art"]</td>
                <td class="p-0-3">@Localizer["9:00 to 12:00; 12:30 to 17:00"]</td>
                <td class="p-0-3">@Localizer["Closed"]</td>
            </tr>
            <tr>
                <td class="p-0-3">@Localizer["Homeland"]</td>
                <td class="p-0-3">@Localizer["9:00 to 12:00; 12:30 to 17:00"]</td>
                <td class="p-0-3">@Localizer["Closed"]</td>
            </tr>
            <tr>
                <td class="p-0-3">@Localizer["Information center"]</td>
                <td class="p-0-3">@Localizer["9:00 to 12:00; 12:30 to 17:00"]</td>
                <td class="p-0-3">@Localizer["Closed"]</td>
            </tr>
        </tbody>
    </table>
    <p class="mr-t-b-25 text-center"><span class="bold">*</span>@Localizer["Every last Thursday of the month the library works with readers until 14:00. /sanitary day/"]</p>
</div>
