<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Regional Library "Mihalaki Georgiev"-Vidin</title>
    <meta name="description" content="@ViewData["Description"]">
    <link rel="shortcut icon" href="~/images/SiteImages/favicon.ico">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlMDYqckff9Y3FJBnEQD3Q-X_nJl4qDQ4"></script>
    <environment include="Development">
        <link async href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/lib-theme.css">   
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/panorama_viewer.css">     
    </environment>
    <environment exclude="Development">
        <link async href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/lib-theme.min.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/panorama_viewer.css">
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="work-time-box" style="width: 107px;">
                    <span class="closed bold close-time">Closed</span><span class="hours bold open-time" style="padding-right: 12px;">Open</span>
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">
                            <span class="glyphicon glyphicon-time clock-ico"></span><span class="caret"></span>
                        </a>
                        <ul id="worktime-menu" class="dropdown-menu drop">
                            <li class="p-0-3"><span class="bold">Monday: </span>9:00-18:00</li>
                            <li class="p-0-3"><span class="bold">Tuesday: </span>9:00-18:00</li>
                            <li class="p-0-3"><span class="bold">Wednesday: </span>9:00-18:00</li>
                            <li class="p-0-3"><span class="bold">Thursday: </span>9:00-18:00</li>
                            <li class="p-0-3"><span class="bold">Friday: </span>9:00-18:00</li>
                            <li class="p-0-3"><span class="bold">Saturday: </span>9:00-14:00</li>
                            <li class="p-0-3"><span class="bold">Sunday: </span>Closed</li>
                            <li class="p-0-3 text-center"><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="WorkTime" role="button">More</a></li>
                        </ul>
                    </div>
                </div>
                <a asp-area="En" asp-controller="Home" asp-action="Index" class="navbar-brand p-0-3 hidden-lg hidden-md ico-style"><img src="~/images/SiteImages/LogoRBMG.png" alt="logo" /></a>
                <a href="http://178.239.224.218/absw/abs.htm" class="navbar-brand p-0-3 hidden-lg hidden-md glyphicon glyphicon glyphicon-search ico-style"></a>
                <a asp-area="En" asp-controller="Home" asp-action="Contact" class="navbar-brand p-0-3 hidden-lg hidden-md glyphicon glyphicon-map-marker ico-style"></a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a asp-area="En" asp-controller="Home" asp-action="Index" class="navbar-brand p-0-3 hidden-sm hidden-xs">Home</a></li>
                    <li class="dropdown lib-menu">
                        <a class="dropdown-toggle cr-pointer" data-toggle="dropdown" aria-expanded="false">
                            Library<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu drop">
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">About us</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="History">History</a></li>
                                    <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Functions">Functions</a></li>
                                    <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Structure">Structure</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">Useful info</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" asp-area="En" asp-controller="Home" asp-action="Contact">Find us</a></li>
                                    <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="WorkTime">Work time</a></li>
                                    <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="PriceList">Price list</a></li>
                                    <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Staff">Contacts</a></li>
                                    <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Faq">FAQ</a></li>
                                    <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Links">Useful links</a></li>
                                </ul>
                            </li>
                            <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Services">Services</a></li>
                            <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Contributors">Contributors</a></li>
                            <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Partners">Partners</a></li>
                        </ul>
                    </li>
                    <li class="dropdown lib-menu">
                        <a class="dropdown-toggle cr-pointer" data-toggle="dropdown" aria-expanded="false">
                            Kids<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu drop">
                            <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="ProgramForKids">Work with children program</a></li>
                            <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Internet">Safe internet</a></li>
                            <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="ForTheStudents">For the student</a></li>
                            <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="ForTheEnthusiasts">For the curious</a></li>
                        </ul>
                    </li>
                    <li class="dropdown cr-pointer lib-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Homeland<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu drop">
                            <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Editions">Publications</a></li>
                            <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Vidin">Vidin</a></li>
                            <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="MihalakiGeorgiev">Mihalaki Georgiev</a></li>
                        </ul>
                    </li>
                    <li><a tabindex="-1" asp-area="En" asp-controller="Articles" asp-action="Articles">News</a></li>
                    <li><a tabindex="-1" asp-area="En" asp-controller="Galleries" asp-action="Galleries">Gallery</a></li>
                    <li class="dropdown lib-submenu-color lib-menu">
                        <a class="dropdown-toggle cr-pointer" data-toggle="dropdown" aria-expanded="false">
                            E-Library<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu drop">
                            <li><a href="http://178.239.224.218/absw/abs.htm">E-Library</a></li>
                            <li><a tabindex="-1" asp-area="En" asp-controller="Books" asp-action="Books">New Books</a></li>
                            <li><a tabindex="-1" asp-area="En" asp-controller="Subscriptions" asp-action="Subscriptions">Subscriptions</a></li>
                            <li><a href="http://www.pc-tm.com/docs/pc-tm-ic_08.htm">Other E-Catalouges</a></li>
                        </ul>
                    </li>
                    @if (User.IsInRole(WebConstants.AdministratorRole))
                    {
                        <li class="dropdown cr-pointer lib-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Admin Panel<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></li>
                                <li><a tabindex="-1" asp-area="LibraryBlog" asp-controller="Events" asp-action="Events">Events</a></li>
                                <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Account</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="parallax">
        <div class="lib-nav-container">
            <a asp-area="En" asp-controller="Home" asp-Action="Index"><img class="panel-logo" src="~/images/SiteImages/panel-logo-en.png" alt="panel" /></a>
        </div>
    </div>

    <div class="container body-content">
        <div class="row pb-20">
            <div id="fb-root"></div>
            <div class="col-md-2 hidden-sm hidden-xs" id="sidebar-left"> @await Component.InvokeAsync("LatestBooksEn") </div>
            <div class="col-md-8">
                @if (TempData.ContainsKey(WebConstants.TempDataSuccessMessageKey))
                {
                    <div class="row width-85pr text-center mr-0-auto">
                        <div class="alert alert-success">
                            @TempData[WebConstants.TempDataSuccessMessageKey]
                        </div>
                    </div>
                }
                @if (TempData.ContainsKey(WebConstants.TempDataWarningMessageKey))
                {
                    <div class="row width-85pr text-center mr-0-auto">
                        <div class="alert alert-warning">
                            @TempData[WebConstants.TempDataWarningMessageKey]
                        </div>
                    </div>
                }
                @RenderBody()
            </div>
            <div class="col-md-2" id="sidebar-right">@await Component.InvokeAsync("RightMenuEn")</div>
        </div>
        <footer>
            <div class="row mr-t-10 footer-row">
                <div class="col-md-3 footer-fb">
                    <div class="p-0-3 fb-like float-left fb-box" data-href="https://www.facebook.com/libvidin/" data-width="100" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 footer-box-2">
                    <ul class="lib-footer-ul">
                        <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Staff">Contacts</a></li>
                        <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="PriceList">Price list</a></li>
                        <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="WorkTime">Worktime</a></li>
                        <li><a tabindex="-1" asp-area="En" asp-controller="Home" asp-action="Contact">Find us</a></li>
                        <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-box-3" style="width: auto">
                    <ul class="lib-footer-ul">
                        <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Services">Services</a></li>
                        <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Functions">Functions</a></li>
                        <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Structure">Structure</a></li>
                        <li><a href="http://178.239.224.218/absw/abs.htm">E-Library</a></li>
                        <li><a tabindex="-1" asp-area="" asp-controller="Home" asp-action="Links">Useful links</a></li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 text-right" style="float: right">
                    <div class="p-10 lib-lang-box">
                        <a class="p-rl-15" asp-area="" asp-controller="Home" asp-action="Index"><img class="width-25" src="~/images/SiteImages/bg-flag.png" alt="BG language" /></a>
                        <a asp-area="En" asp-controller="Home" asp-action="Index"><img class="width-25" src="~/images/SiteImages/uk-flag.png" alt="UK language" /></a>
                    </div>

                    <p class="text-center">&copy; 2018 - Regional Library "Mihalaki Georgiev" - Vidin</p>
                </div>
            </div>
        </footer>
    </div>
    <environment include="Development">
        <script src="//code.jquery.com/jquery-2.2.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/responsiveslides.min.js"></script>
        <script src="~/lib/jquery/dist/moment.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.panorama_viewer.js"></script>
        <script src="~/lib/jquery/dist/snowfall.jquery.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="//code.jquery.com/jquery-2.2.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/responsiveslides.min.js"></script>
        <script src="~/lib/jquery/dist/moment.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.panorama_viewer.js"></script>
        <script src="~/lib/jquery/dist/snowfall.jquery.min.js"></script>
        <script src="~/js/site.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>