@model SubscriptionFormModel

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row mr-l-0">
            <label asp-for="Department"></label>
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Kids))Детски
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Rent))Заемна
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Read))Читални
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Check))Справочен
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Art))Изкуство
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Department, DepartmentType.Land))Краезнание
        </div>
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row mr-l-0">
            <label asp-for="Type"></label>
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Type, SubscriptionType.Newspaper))Вестник
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(m => m.Type, SubscriptionType.Magazine))Списание
        </div>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row mr-l-0">
            <label asp-for="Language"></label>
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(l=> l.Language, Language.Bg))Български
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(l=> l.Language, Language.En))Английски
        </div>
        <span asp-validation-for="Language" class="text-danger"></span>
    </div>    
    <button type="submit" class="btn btn-info">Запази</button>
</form>