@model SubscriptionListingViewModel
@{
    ViewData["Title"] = "Subscriptions";

    int thCols = 2;
}
<div class="row text-center">
    <h2>Абонаменти</h2>
</div>
<div class="row text-center mr-t-b-25">
    @if (User.IsInRole(WebConstants.LibrarianAuthorRole) || User.IsInRole(WebConstants.AdministratorRole))
    {
        thCols++;       
        <a class="btn-sm btn-success" asp-area="LibraryBlog" asp-controller="Books" asp-action="Create">Създай</a>
    }
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th colspan="@thCols" class="bold text-center">ВЕСТНИЦИ</th>                 
                </tr>             
            </thead>
            <tbody>
            <tr>
                <th class="first-color-b second-color text-center">Наименувание</th>
                <th class="first-color-b second-color text-center">Получава се в:</th>
                @if (User.IsInRole(WebConstants.LibrarianAuthorRole) || User.IsInRole(WebConstants.AdministratorRole))
                {
                    <th class="first-color-b second-color text-center">Действия:</th>
                }
            </tr>
            @foreach (var newspaper in Model.Newspapers)
            {
                <tr>
                    <td class="lib-cell-corrector">@newspaper.Name</td>
                    <td>Отдел "@newspaper.Department.DepartmentsToBgLang()"</td>
                    @if (User.IsInRole(WebConstants.LibrarianAuthorRole) || User.IsInRole(WebConstants.AdministratorRole))
                    {
                        <td>
                            <a class="btn-sm btn-warning" asp-area="LibraryBlog" asp-controller="Subscriptions" asp-action="Edit" asp-route-id="@newspaper.Id" asp-route-title="@newspaper.Name.ToFriendlyUrl()">Редактирай</a>
                            <a class="btn-sm btn-danger" asp-area="LibraryBlog" asp-controller="Subscriptions" asp-action="Delete" asp-route-id="@newspaper.Id" asp-route-title="@newspaper.Name.ToFriendlyUrl()">Изтрии</a>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th colspan="@thCols" class="bold text-center">СПИСАНИЯ</th>                   
                </tr>
            </thead>
            <tbody>         
            <tr>
                <th class="first-color-b second-color text-center">Наименувание</th>
                <th class="first-color-b second-color text-center">Получава се в:</th>
                @if (User.IsInRole(WebConstants.LibrarianAuthorRole) || User.IsInRole(WebConstants.AdministratorRole))
                {
                    <th class="first-color-b second-color text-center">Действия:</th>
                }
            </tr>
            @foreach (var magazine in Model.Magazines)
            {
                <tr>
                    <td class="lib-cell-corrector">@magazine.Name</td>
                    <td>Отдел "@magazine.Department.DepartmentsToBgLang()"</td>
                    @if (User.IsInRole(WebConstants.LibrarianAuthorRole) || User.IsInRole(WebConstants.AdministratorRole))
                    {
                        <td>
                            <a class="btn-sm btn-warning" asp-area="LibraryBlog" asp-controller="Subscriptions" asp-action="Edit" asp-route-id="@magazine.Id" asp-route-title="@magazine.Name.ToFriendlyUrl()">Редактирай</a>
                            <a class="btn-sm btn-danger" asp-area="LibraryBlog" asp-controller="Subscriptions" asp-action="Delete" asp-route-id="@magazine.Id" asp-route-title="@magazine.Name.ToFriendlyUrl()">Изтрии</a>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>